parameters:
    bootstrapFiles:
        - phpunit.php
    level: 8
    excludePaths:
        - src/Animation/*   
        - src/System/VISUTransitionAnimationSystem.php
    paths:
        - src
    ignoreErrors:
        - '/Access to an undefined property GL\\Math\\Vec[2-4]::\$[x|y|z|w|r|g|b|a]\./'
        - '/Access to an undefined property GL\\Math\\Quat::\$[w|x|y|z]\./'
        - '/Cannot access property \$([a-zA-Z0-9]+) on VISU\\Graphics\\TextureOptions\|null\./'
        - '/Binary operation "[\*\|\+\|\-|\/]" between GL\\Math\\.*/'
        - '/Binary operation "[\*\|\+\|\-|\/]" between float and GL\\Math\\.*/'
        - '/Cannot access offset .* on GL\\Buffer\\.*/'
        - '/Cannot access offset [0-9|int]+ on GL\\Math\\Mat4\./'
        - '/\(VISU\\Signal\\SignalQueue<.*>\) does not accept VISU\\Signal\\SignalQueue<VISU\\Signal\\Signal>/'
        - '/expects +VISU\\Signal\\SignalQueue<VISU\\Signal\\Signal>, VISU\\Signal\\SignalQueue<.*>/'
        - '/.*expects GL\\Buffer\\GL\\.*/' 
        - '/Parameter .* expects GL\\Math\\Vec[0-4], \((array\|)?float\|int\) given\./'
        - '/constructor expects GL\\Math\\Vec[0-4], float given\./'
        - '/.*[copy]\(\) on \(float\|int\).*/'
        - '/should return GL\\Math\\Vec[0-4] but returns float\./'