parameters:
    bootstrapFiles:
        - phpunit.php
    level: 8
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - src/Animation/*   
        - src/System/VISUTransitionAnimationSystem.php
    paths:
        - src
    ignoreErrors:
        - '/Access to an undefined property GL\\Math\\Vec[2-3-4]::\$[x|y|z|w|r|g|b|a]\./'
        - '/Access to an undefined property GL\\Math\\Quat::\$[w\|x\|y\|z]\./'
        - '/Cannot access property \$([a-zA-Z0-9]+) on VISU\\Graphics\\TextureOptions\|null\./'
        - '/Cannot access property \$([a-zA-Z0-9]+) on (float\|)?GL\\Math\\Vec3./'
        - '/Cannot access property \$([a-zA-Z0-9]+) on VISU\\Graphics\\Camera\|null./'
        - '/Cannot access offset int<([0-9]+), ([0-9]+)> on GL\\Math\\Mat4\./'
        - '/Cannot access offset ([0-9]+\|)?int<([0-9]+), ([0-9]+)?(max)?> on GL\\Buffer\\FloatBuffer\./'
        - '/Binary operation "[\*\|\+\|\-]" between GL\\Math\\.*/'
        - '/Binary operation "[\*\|\+\|\-]" between float and GL\\Math\\.*/'
        - '/Cannot access offset [0-9|int]+ on GL\\Buffer\\.*/'
        - '/\(VISU\\Signal\\SignalQueue<.*>\) does not accept VISU\\Signal\\SignalQueue<VISU\\Signal\\Signal>/'
        - '/expects +VISU\\Signal\\SignalQueue<VISU\\Signal\\Signal>, VISU\\Signal\\SignalQueue<.*>/'
        - '/.*expects GL\\Buffer\\GL\\.*/' 
        - '/.*expects GL\\Math\\Vec[0-4], (float|int) given./'
        - '/.*[copy]\(\) on \(float\|int\).*/'
        - '/Negated boolean expression is always false\./'
        - '/Property VISU\\Runtime\\DebugConsole::\$gl is never read, only written\./'
        - '/Cannot call method ([A-Za-z0-9_]+)\(\) on VISU\\Graphics\\Camera\|null\./'
        - '/Cannot call method ([A-Za-z0-9_]+)\(\) on GL\\Math\\Vec3\|null\./'
        - '/Parameter #1 \$resource of method VISU\\Graphics\\Rendering\\PipelineResources::getRenderTarget\(\) expects VISU\\Graphics\\Rendering\\Resource\\RenderTargetResource, VISU\\Graphics\\Rendering\\RenderResource given\./'
        - '/Method VISU\\Geo\\AABB(2D)?::getCenter\(\) should return GL\\Math\\Vec[2-3] but returns float\./'
        - '/Parameter #2 \$destination of method VISU\\Graphics\\Rendering\\Renderer\\Debug3DRenderer::addLine\(\) expects GL\\Math\\Vec3, \(float\|int\) given\./'
        - '/(.*) has an unused parameter \$([0-9a-zA-Z_]+)/'
        - '/Parameter #2 \$value of method VISU\\Graphics\\ShaderProgram::setUniform1i\(\) expects (int|float), bool given\./'