name: docs 
on:
  push:
    branches: 
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - run: cd docs && git clone https://github.com/phpgl/docs-assets && ls && ls docs-assets
      - run: chmod +x ./bin/build-api-docs.sh
      - run: ./bin/build-api-docs.sh
      - run: pip install git+https://${{ secrets.GH_TOKEN }}@github.com/mario-deluna/mkdocs-material-insiders.git
      - run: pip install mkdocs-include-dir-to-nav
      - run: mkdocs gh-deploy --force
